<div class="row">
  <div class="col-md-4 mb-4">
    <a [routerLink]="['../']" routerLinkActive="router-link-active" mdbBtn pgRoundedBtn class="mr-2" color="info"
      outline="true" mdbWavesEffect>Retour à la liste des clients</a>
  </div>
  <div class="col-md mb-4">
    <mdb-card>
      <mdb-card-header class="primary-color white-text">
        <h6 class="fw-400 mb-0">Information</h6>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>Une fois le nouveau client créé,
          vous serez redirigé vers la création d'une adresse principale pour ce client
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <mdb-card class="mb-5">
      <mdb-card-header class="primary-color white-text">
        <h6 class="fw-400 mb-0">
          Nouveau client
          <span class="float-left mr-1">
            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
          </span>
        </h6>
      </mdb-card-header>
      <mdb-card-body class="px-lg-5 pt-0">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">
          <!--  -->

          <div class="form-row">
            <div class="col-md">
              <div class="md-form">
                <input type="text" mdbInput mdbValidate formControlName="code_client" id="code_client"
                  class="form-control" />
                <label for="code_client">Code client: *</label>
                <mdb-error *ngIf="f.code_client.invalid && (f.code_client.dirty || f.code_client.touched)">
                  <span *ngIf="f.code_client.errors.required">Code client is required</span>
                </mdb-error>
                <mdb-success *ngIf="f.code_client.valid && (f.code_client.dirty || f.code_client.touched)">
                  Code client valid
                </mdb-success>
              </div>
              <div class="md-form">
                <input type="text" formControlName="civilite" class="form-control" mdbInput mdbValidate list="civilites"/>
                <datalist id="civilites">
                  <option *ngFor="let civilite of civiliteList | async; let i = index" [ngValue]="civilite.libelle">
                    {{civilite.libelle}}
                  </option>
                </datalist>
                <label for="civilite">Civilite:</label>
                <!--<mdb-error *ngIf="f.civilite.invalid && (f.civilite.dirty || f.civilite.touched)">
                  <span *ngIf="f.civilite.errors.required">Civilite is required</span>
                </mdb-error>
                <mdb-success *ngIf="f.civilite.valid && (f.civilite.dirty || f.civilite.touched)">
                  Civilite valid
                </mdb-success>-->
              </div>
              <div class="md-form">
                <input type="text" mdbInput mdbValidate formControlName="nom" id="nom" class="form-control" />
                <label for="nom">Nom: *</label>
                <mdb-error *ngIf="f.nom.invalid && (f.nom.dirty || f.nom.touched)">
                  <span *ngIf="f.nom.errors.required">Nom is required</span>
                </mdb-error>
                <mdb-success *ngIf="f.nom.valid && (f.nom.dirty || f.nom.touched)">
                  Nom valid
                </mdb-success>
              </div>
              <div class="md-form">
                <input type="text" mdbInput mdbValidate formControlName="prenom" id="prenom" class="form-control" />
                <label for="prenom">Prenom:</label>
                <!--<mdb-error *ngIf="f.prenom.invalid && (f.prenom.dirty || f.prenom.touched)">
                  <span *ngIf="f.prenom.errors.required">prenom is required</span>
                </mdb-error>
                <mdb-success *ngIf="f.prenom.valid && (f.prenom.dirty || f.prenom.touched)">
                  Prenom valid
                </mdb-success>-->
              </div>

            </div>

            <div class="col-md">
              <div class="md-form">
                <input type="text" mdbInput mdbValidate formControlName="tel" id="tel" class="form-control" />
                <label for="tel">Telephone:</label>
                <!--<mdb-error *ngIf="f.tel.invalid && (f.tel.dirty || f.tel.touched)">
                  <span *ngIf="f.adresse.errors.required">Telephone is required</span>
                </mdb-error>
                <mdb-success *ngIf="f.tel.valid && (f.tel.dirty || f.tel.touched)">
                  Telephone valid
                </mdb-success>-->
              </div>
              <div class="md-form">
                <input type="text" mdbInput mdbValidate formControlName="portable" id="portable" class="form-control" />
                <label for="portable">Portable:</label>
                <!--<mdb-error *ngIf="f.portable.invalid && (f.portable.dirty || f.portable.touched)">
                  <span *ngIf="f.portable.errors.required">Portable is required</span>
                </mdb-error>
                <mdb-success *ngIf="f.portable.valid && (f.portable.dirty || f.portable.touched)">
                  Portable valid
                </mdb-success>-->
              </div>
              <div class="md-form">
                <input type="email" mdbInput mdbValidate formControlName="email" id="email" class="form-control" />
                <label for="email">Email: *</label>
                <mdb-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                  <span *ngIf="f.email.errors.required">Email is required</span>
                  <span *ngIf="f.email.errors.email">This email address is not valid</span>
                </mdb-error>
                <mdb-success *ngIf="f.email.valid && (f.email.dirty || f.email.touched)">
                  Email valid
                </mdb-success>
              </div>
              <div class="md-form">
                <input type="text" mdbInput mdbValidate formControlName="tva_intracom" id="tva_intracom"
                  class="form-control" />
                <label for="tva_intracom">Tva intracom:</label>
                <!--<mdb-error *ngIf="f.tva_intracom.invalid && (f.tva_intracom.dirty || f.tva_intracom.touched)">
                  <span *ngIf="f.tva_intracom.errors.required">tva_intracom is required</span>
                </mdb-error>
                <mdb-success *ngIf="f.tva_intracom.valid && (f.tva_intracom.dirty || f.tva_intracom.touched)">
                  Tva_intracom valid
                </mdb-success>-->
              </div>
            </div>

          </div>

          <div>
            <button pgRoundedBtn type="reset" mdbBtn color="secondary" outline="true" mdbWavesEffect
              (click)="resetForm()">
              Annuler
            </button>
            <button mdbBtn pgRoundedBtn class="mr-2" color="primary" outline="true" mdbWavesEffect type="submit">
              Créer
            </button>
            <img *ngIf="loading" class="pl-2"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>

        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>