<div formGroupName="clientForm">

  <div class="md-form">
    <input type="text" mdbInput mdbValidate formControlName="code_client" id="code_client"
      class="form-control" />
    <label for="code_client">
      Code client*
      <!--<ng-container *ngIf="last_code | async; else loadcode">Code client: *</ng-container>
      <ng-template #loadcode>Loading ...</ng-template>-->
    </label>
    <mdb-error *ngIf="f.code_client.invalid && (f.code_client.dirty || f.code_client.touched)">
      <span *ngIf="f.code_client.errors.required">Code client is required</span>
    </mdb-error>
    <mdb-success *ngIf="f.code_client.valid && (f.code_client.dirty || f.code_client.touched)">
      Code client valid
    </mdb-success>
  </div>
  <div class="form-label-group">
    <label>Last Name*</label>
    <input type="text" class="form-control" name="lastName" formControlName="lastName" />
  </div>
  <div class="form-label-group">
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" formControlName="phone" />
  </div>
  <div class="form-label-group">
    <label>Street*</label>
    <input type="text" class="form-control" name="street" formControlName="street" />
  </div>
  <div class="form-label-group">
    <label>City*</label>
    <input type="text" class="form-control" name="city" formControlName="city" />
  </div>
  <div class="form-label-group">
    <label>State</label>
    <input type="text" class="form-control" name="state" formControlName="state" />
  </div>
  <div class="form-label-group">
    <label>Zip*</label>
    <input type="text" class="form-control" name="zip" formControlName="zip" />
  </div>

</div>
