<div class="row">
  <div class="col-md-8 mb-4">
    <a href="#" mdbBtn pgRoundedBtn class="mr-2" color="info" outline="true" mdbWavesEffect>Nouvelle facture</a>
    <a href="#" mdbBtn pgRoundedBtn class="mr-2" color="info" outline="true" mdbWavesEffect>Nouveau devis</a>
    <a href="#" mdbBtn pgRoundedBtn class="mr-2" color="info" outline="true" mdbWavesEffect>Nouvel article</a>
    <!--<a href="#" mdbBtn pgRoundedBtn class="mr-2" color="info" outline="true" mdbWavesEffect>Nouveau client</a>-->
  </div>
  <div class="col-md mb-4">
    <mdb-card>
      <mdb-card-header>
        <h6 class="fw-400 mb-0">Chiffre d'affaire sur 12 mois</h6>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>Aucun chiffre d'affaire ces 12 derniers mois</mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-6">
    <mdb-card>
      <mdb-card-header>
        <h6 class="fw-400 mb-0">10 dernières factures</h6>
      </mdb-card-header>
        <div class="fixed-header ft-09" pgHighlightTableRow height="20rem" (selectItem)="onOpen($event)"
          (selectChange)="onSelect($event)">
          <table class="table table-hover table-sheet table-sm" *ngIf="!emptyList">
            <thead>
              <tr>
                <th>N°</th>
                <th>Client</th>
                <th>Total h.t.</th>
                <th>Etat</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entreprise of entrepriseList | async as entreprises; let i = index">
                <td>{{entreprise.num}}</td>
                <td>{{entreprise.client}}</td>
                <td>{{entreprise.total_th}}</td>
                <td>{{entreprise.etat}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </mdb-card>
  </div>
  <div class="col-md-6">
    <mdb-card>
      <mdb-card-header>
        <h6 class="fw-400 mb-0">10 derniers devis</h6>
      </mdb-card-header>
      <!--Text-->
      <div class="fixed-header ft-09" pgHighlightTableRow height="20rem" (selectItem)="onOpen($event)"
        (selectChange)="onSelect($event)">
        <table class="table table-hover table-sheet table-sm" *ngIf="!emptyList">
          <thead>
            <tr>
              <th>N°</th>
              <th>Client</th>
              <th>Total h.t.</th>
              <th>Etat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entreprise of entrepriseList | async as entreprises; let i = index">
              <td>{{entreprise.num}}</td>
              <td>{{entreprise.client}}</td>
              <td>{{entreprise.total_th}}</td>
              <td>{{entreprise.etat}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mdb-card>
  </div>
</div>