<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h4>Adresse</h4>
    </mdb-card-title>
    <mdb-card-text>
      {{ adresse?.adresse_1 }} <br>
      <span *ngIf="adresse.adresse_2">
        {{ adresse.adresse_2 }} <br>
      </span>
      <span *ngIf="adresse.adresse_3">
        {{ adresse.adresse_3 }} <br>
      </span>
      {{ adresse?.cp }}
      {{ adresse?.ville }} <br>
      {{ adresse?.pays }} <br>
    </mdb-card-text>
    <div class="flex-row">
      <a class="card-link">Modifier</a>
      <a class="card-link" *ngIf="canDelete">Supprimer</a>
    </div>
  </mdb-card-body>
</mdb-card>
