<div class="row">
  <div class="col-md-8 mb-4">
    <a [routerLink]="['./client-create']" routerLinkActive="router-link-active"  mdbBtn pgRoundedBtn class="mr-2" color="info" outline="true" mdbWavesEffect>Nouveau client</a>
    <a [routerLink]="['./client-update']" mdbBtn pgRoundedBtn class="mr-2" color="info" outline="true" mdbWavesEffect>Editer</a>
  </div>
  <div class="col-md mb-4">
    <mdb-card>
      <mdb-card-header>
        <h6 class="fw-400 mb-0">Chiffre d'affaire sur 12 mois</h6>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>Aucun chiffre d'affaire ces 12 derniers mois</mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <mdb-card>
      <mdb-card-header>
        <h6 class="fw-400 mb-0">
          Liste des clients
          <span class="float-left mr-1">
            <mdb-icon fas icon="address-book"></mdb-icon>
          </span>
        </h6>
      </mdb-card-header>
      <mdb-card-body class="p-0">
        <div class="fixed-header ft-09" pgHighlightTableRow height="19em"
        (selectItem)="onSelect($event)" (selectChange)="onSelect($event)">
          <table class="table table-hover table-sheet table-sm" *ngIf="!emptyList">
            <thead>
              <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Code Postal</th>
                <th>Ville</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of (clientList | async)">
                <td>{{client.code_client}}</td>
                <td>{{client.nom}}</td>
                <td>{{client.email}}</td>
                <td>{{client?.cp}} </td>
                <td>{{client?.ville}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mdb-card-body>
    </mdb-card>
    <span>Index de selection: {{selectedItem}}</span>
  </div>
</div>
