<mdb-navbar SideClass="navbar navbar-expand-md fixed-top navbar-light blue-grey lighten-5">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
    Home
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown btn-group" dropdown *ngIf="isAuthenticated()">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Entreprises<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/entreprise" href="#">Entreprise</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="routes.open" href="#">Ouvrir</a>
          <a *ngIf="isAdmin" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="routes.new_entreprise" href="#">Nouvelle</a>
          <a *ngIf="isAdmin" class="dropdown-item waves-light" mdbWavesEffect routerLink="/" href="#">Modifier</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown *ngIf="isAuthenticated()">
        <a dropdownToggle class="nav-link dropdown-toggle">
          Bases de données
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" [routerLink]="routes.clients">Clients</a>
          <a class="dropdown-item" routerLink="/">Articles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/">Contrats</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown *ngIf="isAuthenticated()">
        <a dropdownToggle class="nav-link dropdown-toggle">
          Quotidien
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" routerLink="/"> Factures</a>
          <a class="dropdown-item" routerLink="/">Editer</a>
          <a class="dropdown-item" routerLink="/">Supprimer</a>
          <div class="dropdown-divider">Devis</div>
          <!--<li bs-form-popover form-popover-template="views/register-form.html" form-popover-title="Register" form-popover-submit="header.submitRegister(valid, data)">-->
          <a class="dropdown-item" routerLink="/">Devis</a>
          <a class="dropdown-item" routerLink="/">Editer</a>
          <a class="dropdown-item" routerLink="/">Supprimer</a>
        </div>
      </li>
    </ul>
    <!--<div class="float-md-right mx-auto">-->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" [routerLink]="routes.register">
            <mdb-icon fas icon="user-plus"></mdb-icon> register
          </a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" [routerLink]="routes.login">
            <mdb-icon fas icon="user"></mdb-icon> login
          </a>
        </li>
        <li class="nav-item" *ngIf="currentEntreprise">
          <a class="nav-link"  (click)="close()">
              <mdb-icon fas icon="sign-out-alt"></mdb-icon>
            Fermer l'entreprise
          </a>
        </li>
        <li class="nav-item dropdown" dropdown *ngIf="isAuthenticated()">
          <a dropdownToggle class="nav-link dropdown-toggle">
            {{user.username}}
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" (click)="logout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon> Déconnexion</a>
            <a class="dropdown-item" routerLink="/">Profile</a>
            <a class="dropdown-item" [routerLink]="routes.register"><mdb-icon fas icon="user-plus"></mdb-icon> Nouvel utilisateur</a>
          </div>
        </li>

      </ul>
    <!--</div>-->

  </links>
</mdb-navbar>