<div class="row">
  <div class="col-sm-6 offset-sm-2">
    <mdb-card>
      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Register</strong>
          <span class="float-right">
            <mdb-icon fas icon="user-plus"></mdb-icon>
          </span>
        </h5>
      </mdb-card-header>
      <mdb-card-body class="px-lg-5 pt-0">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">
          <!--  -->
          <div class="md-form">
            <input type="text" mdbInput mdbValidate formControlName="username" id="username" class="form-control" />
            <label for="username">User name*</label>
            <mdb-error *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
              <span *ngIf="f.username.errors.required">User name is required</span>
            </mdb-error>
            <mdb-success *ngIf="f.username.valid && (f.username.dirty || f.username.touched)">
              Username valid
            </mdb-success>
          </div>

          <div class="md-form">
            <input type="email" mdbInput mdbValidate formControlName="email" id="email" class="form-control" />
            <label for="email">E-mail*</label>
            <mdb-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
              <span *ngIf="f.email.errors.required">Email is required</span>
              <span *ngIf="f.email.errors.email">This email address is not valid</span>
            </mdb-error>
            <mdb-success *ngIf="f.email.valid && (f.email.dirty || f.email.touched)">
              Email valid
            </mdb-success>
          </div>

          <div class="md-form">
            <label for="password">Password*</label>
            <input type="password" formControlName="password" id="password" class="form-control" mdbValidate mdbInput />
            <mdb-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
              <span *ngIf="f.password.errors.required">Password is required</span>
              <span *ngIf="f.password.errors.minlength">Password must be at least 8 characters</span>
            </mdb-error>
            <mdb-success *ngIf="f.password.valid && (f.password.dirty || f.password.touched)">
              Password valid
            </mdb-success>
          </div>

          <div class="md-form">
            <input type="password" formControlName="confirmPassword" class="form-control" mdbValidate mdbInput />
            <label for="confirmPassword">Confirm Password*</label>
            <mdb-error *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
              <span *ngIf="f.confirmPassword.errors.required">Confirm Password is required</span>
              <span *ngIf="f.confirmPassword.errors.match">Password must match</span>
            </mdb-error>
            <mdb-success *ngIf="f.confirmPassword.valid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
              Password confirmed
            </mdb-success>
          </div>
          <div class="md-form">
            <select formControlName="role" class="form-control" mdbInput mdbValidate>
              <option *ngFor="let role of roles | keyvalue; let isFirst = first" 
               [ngValue]="role.value" selected="{{isFirst}}">
               {{role.value}}
              </option>
            </select>
            <label for="role">Role*</label>
          </div>
          <br *ngIf="!errorMessage.length">
          <div *ngIf="errorMessage.length" class="alert-danger">{{errorMessage}}</div>

            <button pgRoundedBtn mdbWavesEffect type="reset" class="btn btn-outline-secondary mr-2" (click)="resetForm()">
              Annuler
            </button>
            <button mdbBtn pgRoundedBtn mdbWavesEffect class="mr-2" color="info" outline="true" rounded="true" type="submit">
                enregistrer
            </button>
            <img *ngIf="loading" class="pl-2"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <hr>

          <!-- Terms of service -->
          <p>En cliquant sur
            <em>enregistrer</em> vous acceptez
            <a href="" target="_blank">les termes de nos services</a>. 
          </p>
    
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>