.table tr.active td {
  background-color:#4285f4 !important;
  color: white;
}

.fixed-header{
  display: block;
  overflow-y: auto;
  height: 25em;
}

.fixed-header th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: whitesmoke;
}
