<div class="row">
  <div class="col-md-6" >
    <mdb-card> 
        <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
            <accordion>
                <accordion-group heading="Static Header">
                  This content is straight in the template.
                </accordion-group>
                <accordion-group heading="Another group">
                  <p>Some content</p>
                </accordion-group>
                <accordion-group heading="Another group">
                  <p>Some content</p>
                </accordion-group>
                <accordion-group heading="Another group">
                  <p>Some content</p>
                </accordion-group>
              </accordion>
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
          </mdb-card-body>    
</mdb-card> 
</div>
</div>
